---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    <!-- {% include nav.html %} -->
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                <style>
            pre {
              background: none;
              border: none;
            }
            </style>
            <pre>

                                   444444444               000000000                    444444444   
                                  4::::::::4             00:::::::::00                 4::::::::4  
                                 4:::::::::4           00:::::::::::::00              4:::::::::4  
                                4::::44::::4          0:::::::000:::::::0            4::::44::::4  
                               4::::4 4::::4          0::::::0   0::::::0           4::::4 4::::4  
                              4::::4  4::::4          0:::::0     0:::::0          4::::4  4::::4  
                             4::::4   4::::4          0:::::0     0:::::0         4::::4   4::::4  
                            4::::444444::::444        0:::::0 000 0:::::0        4::::444444::::444
                            4::::::::::::::::4        0:::::0 000 0:::::0        4::::::::::::::::4
                            4444444444:::::444        0:::::0     0:::::0        4444444444:::::444
                                      4::::4          0:::::0     0:::::0                  4::::4  
                                      4::::4          0::::::0   0::::::0                  4::::4  
                                      4::::4          0:::::::000:::::::0                  4::::4  
                                    44::::::44         00:::::::::::::00                 44::::::44
                                    4::::::::4           00:::::::::00                   4::::::::4
                                    4444444444             000000000                     4444444444
                                    

                </pre>
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
